---
import '../styles/global.css';
import Desktop from '../os/Desktop.svelte';
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VINCENT 2000</title>
  </head>
  <body>
    <Desktop client:only="svelte" />
  </body>
</html>
